/* line 1, ../sass/main.scss */
html,
body {
  font-family: "chalet-london-sixty", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  background-color: white;
  color: black;
  height: 100%;
}

/* line 14, ../sass/main.scss */
.menu-item {
  font-family: "pragmatica-extended", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 21, ../sass/main.scss */
.menu-link {
  font-size: 1em;
  text-decoration: none;
  font-family: "pragmatica-extended", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-color: black;
}

/* line 30, ../sass/main.scss */
.menu-link:hover {
  border-bottom: 1px solid #000;
  color: black;
}

/* line 35, ../sass/main.scss */
.menu-link:visited {
  color: black;
}

/* line 39, ../sass/main.scss */
.menu-link:active {
  color: black;
}

/* line 43, ../sass/main.scss */
.nav-line {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

/* line 52, ../sass/main.scss */
.navigation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}

/* line 60, ../sass/main.scss */
.logo {
  align-content: flex-end;
}

/* line 64, ../sass/main.scss */
.nav-items {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  text-align: right;
}

/* line 73, ../sass/main.scss */
.background {
  background: #D6825A;
  height: 100%;
  position: relative;
}
/* line 77, ../sass/main.scss */
.background .trigger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: auto;
  bottom: auto;
  left: 30px;
  z-index: 3;
  cursor: pointer;
  transition: top .1s ease-in-out;
}

/* line 93, ../sass/main.scss */
.menu {
  background: white;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 999;
}
/* line 104, ../sass/main.scss */
.menu ul {
  list-style-type: none;
  width: 800px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
/* line 115, ../sass/main.scss */
.menu ul li {
  color: black;
  font-size: 8vw;
  padding-top: 30px;
}
@media (min-width: 900px) {
  /* line 115, ../sass/main.scss */
  .menu ul li {
    color: black;
    font-size: 6vw;
    padding: 40px 0;
  }
}

/* line 128, ../sass/main.scss */
.menu a:hover {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

/* line 134, ../sass/main.scss */
.about-row {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 141, ../sass/main.scss */
.about-col {
  max-width: 100vw;
  padding: 30px;
}
@media (min-width: 900px) {
  /* line 141, ../sass/main.scss */
  .about-col {
    max-width: 60vw;
  }
}

/* line 151, ../sass/main.scss */
.header {
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 100px;
  padding-left: 30px;
  padding-top: 30px;
  font-color: black;
}

/* line 161, ../sass/main.scss */
.header p {
  display: inline-block;
  padding-left: 30px;
  font-size: 5vw;
  line-height: 30px;
  padding-top: 30px;
}

/* line 169, ../sass/main.scss */
.word {
  position: absolute;
  display: inline-block;
  width: 400px;
  height: 60px;
  overflow: hidden;
}

/* line 177, ../sass/main.scss */
ul {
  list-style: none;
  position: absolute;
}

/* line 182, ../sass/main.scss */
ul li {
  font-size: 5vw;
}

/* line 186, ../sass/main.scss */
.content .box {
  width: 100%;
  height: 700px;
}

/* line 191, ../sass/main.scss */
.box1 {
  border-bottom: 1px solid;
}

/* line 195, ../sass/main.scss */
.box2 {
  border-bottom: 1px solid;
}

/* line 199, ../sass/main.scss */
.box3 {
  border-bottom: 1px solid;
}

/* line 203, ../sass/main.scss */
.box4 {
  border-bottom: 1px solid;
}

/* line 207, ../sass/main.scss */
.box5 {
  border-bottom: 1px solid;
}

/* line 211, ../sass/main.scss */
.box6 {
  border-bottom: 1px solid;
}

/* line 216, ../sass/main.scss */
.text-large {
  font-family: "freight-big-pro", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 9vw;
  line-height: 1em;
  font-style: italic;
}
@media (min-width: 900px) {
  /* line 216, ../sass/main.scss */
  .text-large {
    font-size: 5vw;
  }
}

/*
.slick-wrap {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15%;
}


.slick-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}
*/
